.full-screen {
  position: absolute;
  width: 100%;
  height: 100%;
}

hr {
  height: 1px;
  border: 0;
  background: #F0EEEE;
}

h3 {
  color: #F5C453;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

.underline {
  position: relative;
}

a {
  text-decoration: underline;
  display: inline-block;
  color: #232323;
}

.underline:after {
  position: absolute;
  content: "";
  width: 10px;
  height: 1px;
  background: #494C4E;
  left: 0;
  bottom: -10px;
}
