// ===========================================================
// font: family, sizes and weights
// ===========================================================

// shorthand
//    font: font-style 	font-variant 	font-weight font-size/line-height 	font-family;
//    font: italic 		small-caps 		normal 		13px/150% 				Arial, Helvetica, sans-serif;

$ff         : "custom-font",  Helvetica, Arial, sans-serif !default;

$fz-large   : 22px;
$fz-medium  : 18px;
$fz-small   : 14px;
$fz-smaller : 12px;

$fw-bold    : 600;
$fw-regular : 100;

// ===========================================================
// screen sizes
// ===========================================================

$sz-largest 	: 1200px;
$sz-large 		: 1024px;
$sz-medium 		: 768px;
$sz-small 		: 480px;

// ===========================================================
// colours
// ===========================================================