{
  "presets": ["es2015", "react"],
  "plugins": [
    "transform-regenerator",
    "transform-runtime",
    [
      "module-resolver", {
        "root": ["./lib", "./src"],
        "alias": {
          "test": "./test",
          "underscore": "lodash"
        }
      }
    ]
  ]
}
