.footer {
    margin-bottom: 30px;
    .container {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    @media (max-width: $tablet) {
        margin-bottom: 0;
        .container {
            border-radius: 0;
        }
    }
    @media (max-width: $mobile) {
        text-align: center;
    }
}