.stripe {
    $size: 3px;
    position: relative;
    background-color: $blue-dark;
    &, &:before, &:after {
        height: $size;
        width: 100%;
    }
    &:before, &:after {
        position: absolute;
        content: "";
        left: 0;
    }
    &:before {
        top: -$size;
        background-color: $red-dark;
    }
    &:after {
        bottom: -$size;
        background-color: $green-dark;
    }
    // &.stripe-small {
    //     $size: 2px;
    //     &, &:before, &:after {
    //         height: $size;
    //     }
    //     &:before {
    //         top: -$size;
    //     }
    //     &:after {
    //         bottom: -$size;
    //     }
    // }
}