h1, h2, h3, h4, h5, h6 {
    // font-family: "dia-bold";
    color: $black;
}

// ========================================
// alignment
// ========================================

.typo-left {
    text-align: left;
}

.typo-right {
    text-align: right;
}

.typo-center {
    text-align: center;
}

// ========================================
// SIZES
// ========================================

body {
    letter-spacing: 0.02em;
    // font-family: "dia-regular";
}

// ========================================
// colours
// ========================================

.typo-white {
    color: $white;
}

.typo-black {
    color: $black;
}

// ========================================
// font classes
// ========================================

.f_xl {
    @include fontSize( $f_xl );
    @include lineHeight( $f_xl + 6 );
}

.f_l {
    @include fontSize( $f_l  );
    @include lineHeight( $f_l  + 6 );
}

.f_m {
    @include fontSize( $f_m  );
    @include lineHeight( $f_m  + 6 );
}

.f_r {
    @include fontSize( $f_r  );
    @include lineHeight( $f_r  + 6 );
}

.f_s {
    @include fontSize( $f_s  );
    @include lineHeight( $f_s  + 6 );
}