.about {
    margin: 50px 0 0 0;
    // background-image: url("../img/ed.png");
    // background-position: 50% 100%;
    // background-repeat: no-repeat no-repeat;
    height: 100%;
    width: 100%;
    max-height: 100%;
    padding-left: 5%;
}

.about-title {
    font-size: 30px;
    color: $black;
}

.about-text {
    width: 70%;
}

@media all and (max-width: $screen_width_large) {
    .about-text {
        width: 60%;
        background-color: rgba(255, 255, 255, 0.5);
    }
}

@media all and (max-width: $screen_width_medium) {
    .about {
        background: none;
        height: initial;
    }
    .about-text {
        width: 100%;
        background-color: rgba(255, 255, 255, 1);
    }
}

@media all and (max-width: $screen_width_small) {
    .about {
        margin: 0;
    }
    .about-text {
        ul {
            padding: 0 0 0 15px;
        }
    }
    .about_title {
        margin: 10px 0 0 0;
    }
}