@font-face {
    font-family: 'brandon-regular-webfont';
    src: url('/assets/fonts/brandon/brandon-regular-webfont.eot');
    src: url('/assets/fonts/brandon/brandon-regular-webfont.eot?#iefix') format('eot'),
         url('/assets/fonts/brandon/brandon-regular-webfont.woff') format('woff'),
         url('/assets/fonts/brandon/brandon-regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/brandon/brandon-regular-webfont.svg#brandon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'justvector';
    src: url('../../fonts/justvector/justvector-webfont.eot');
    src: url('../../fonts/justvector/justvector-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/justvector/justvector-webfont.woff') format('woff'),
         url('../../fonts/justvector/justvector-webfont.ttf') format('truetype'),
         url('../../fonts/justvector/justvector-webfont.svg#jubilatregular') format('svg');
    font-weight: normal;
    font-style: normal;
}