@font-face {
    font-family: 'brandon-regular-webfont';
    src: url('../../fonts/brandon/brandon-regular-webfont.eot');
    src: url('../../fonts/brandon/brandon-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/brandon/brandon-regular-webfont.woff') format('woff'),
         url('../../fonts/brandon/brandon-regular-webfont.ttf') format('truetype'),
         url('../../fonts/brandon/brandon-regular-webfont.svg#brandon_grot_w01_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'jubilatregular';
    src: url('../../fonts/jubilat/jubilat-regular-webfont-webfont.eot');
    src: url('../../fonts/jubilat/jubilat-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/jubilat/jubilat-regular-webfont-webfont.woff') format('woff'),
         url('../../fonts/jubilat/jubilat-regular-webfont-webfont.ttf') format('truetype'),
         url('../../fonts/jubilat/jubilat-regular-webfont-webfont.svg#jubilatregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'justvector';
    src: url('../../fonts/justvector/justvector-webfont.eot');
    src: url('../../fonts/justvector/justvector-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/justvector/justvector-webfont.woff') format('woff'),
         url('../../fonts/justvector/justvector-webfont.ttf') format('truetype'),
         url('../../fonts/justvector/justvector-webfont.svg#jubilatregular') format('svg');
    font-weight: normal;
    font-style: normal;
}