.footer {
    min-height: 20px;
    background-color: $navy;
    line-height: 20px;
    padding: 0 0 0 20px;
    width: 100%;
    float: left;
    background-color: $silver;
    line-height: 50px;
    text-align: center;
}
    // background-color: $blue
    // background-color: $aqua
    // background-color: $teal
    // background-color: $olive
    // background-color: $green
    // background-color: $lime
    // background-color: $yellow
    // background-color: $orange
    // background-color: $red
    // background-color: $fuchsia
    // background-color: $purple
    // background-color: $maroon