// ====================================================================
// menu styles
// ====================================================================

.window_info {
    position: fixed;
    padding: 0 10px;
    height: 100%;
    top: 0;
    left: 0;
    width: 50%;
    text-align: center;
    z-index: 3;
    @media all and (max-width: $screen_width_large) {
        font-size: 14px;
    }
    @media all and (max-width: $screen_width_medium) {
        font-size: 10px;
    }
    @media all and (max-width: $screen_width_small) {
        position: relative;
        top: 30px;
        width: 100%;
        h1 {
            font-size: 1.428em;
        }
        h2 {
            font-size: 2.875em;
            margin-bottom: 0;
        }
    }
}

.click {
    text-decoration: none;
    font-size: 60px;
    line-height: 0px;
    display: block;
    margin-top: 30px;
}

.main-menu {
    position: relative;
    width: 100%;
    // transition: all 1s cubic-bezier(0.7, 0, 0.58, 1) 0s;
    ul {
        list-style: none;
        display: inline-block;
        position: relative;
        @media all and (max-width: $screen_width_small) {
            font-size: 14px;
        }
        li {
            margin: 0 0 25px 0;
        }
    }
    a {
        display: block;
        text-align: left;
        width: auto;
        height: 17px;
        line-height: 17px;
        background-color: transparent;
        color: $black;
        text-shadow: none;
        text-transform: uppercase;
        text-decoration: none;
        position: relative;
        &:before {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            left: -25px;
            top: 3px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid $black;
        }
    }
    @include prefix( transform, scale(0.3) );
    li {
        &:first-child {
            a {
                width: 140px;
            }
        }
    }
    a {
        background-color: $black;
        width: 150px;
        &:before {
            display: none;
        }
    }
    @media all and (max-width: $screen_width_medium) {
        font-size: 14px;
    }
    @media all and (max-width: $screen_width_small) {
        background-color: white;
    }
}

.display_menu {
    position: absolute;
    cursor: pointer;
    width: 150px;
    height: 110px;
    left: 40px;
    top: 0;
    z-index: 1;
}

.contact_icons {
    position: fixed;
    bottom: 20px;
    width: 20%;
    left: 0;
    z-index: 4;
    text-align: center;
    @media all and (max-width: $screen_width_small) {
        bottom: 20px;
        width: 100%;
        left: 0;
        z-index: 4;
        text-align: center;
    }
}

.social-media-container {
    display: none;
    margin: 0;
    list-style: none;
    text-align: center;
    width: 100%;
    padding: 0;
    li {
        display: inline-block;
    }
}

.social-media-icon {
    position: relative;
    font-family: "justvector";
    display: inline-block;
    font-size: 40px;
    height: 40px;
    width: 40px;
    @media all and (max-width: $screen_width_small) {
        font-size: 70px;
        height: 70px;
        width: 70px;
    }
}

.social-media-icon:before {
    color: $black;
    position: absolute;
    left: 0;
    top: 0;
}

.social-media-icon-linkedin:before {
    content: "v";
}

.social-media-icon-twitter:before {
    content: "_";
}

.social-media-icon-github:before {
    content: "j";
}