.grid {
  display: grid;
  grid-column-gap: 50px;
}

.grid.dsktp-1  { grid-template-columns: repeat(1,  1fr); }
.grid.dsktp-2  { grid-template-columns: repeat(2,  1fr); }
.grid.dsktp-3  { grid-template-columns: repeat(3,  1fr); }
.grid.dsktp-4  { grid-template-columns: repeat(4,  1fr); }
.grid.dsktp-5  { grid-template-columns: repeat(5,  1fr); }
.grid.dsktp-6  { grid-template-columns: repeat(6,  1fr); }
.grid.dsktp-7  { grid-template-columns: repeat(7,  1fr); }
.grid.dsktp-8  { grid-template-columns: repeat(8,  1fr); }
.grid.dsktp-9  { grid-template-columns: repeat(9,  1fr); }
.grid.dsktp-10 { grid-template-columns: repeat(10, 1fr); }
.grid.dsktp-11 { grid-template-columns: repeat(11, 1fr); }
.grid.dsktp-12 { grid-template-columns: repeat(12, 1fr); }

@media screen and (max-width: 600px) {
  .grid.mob-1  { grid-template-columns: repeat(1,  1fr); }
  .grid.mob-2  { grid-template-columns: repeat(2,  1fr); }
  .grid.mob-3  { grid-template-columns: repeat(3,  1fr); }
  .grid.mob-4  { grid-template-columns: repeat(4,  1fr); }
  .grid.mob-5  { grid-template-columns: repeat(5,  1fr); }
  .grid.mob-6  { grid-template-columns: repeat(6,  1fr); }
  .grid.mob-7  { grid-template-columns: repeat(7,  1fr); }
  .grid.mob-8  { grid-template-columns: repeat(8,  1fr); }
  .grid.mob-9  { grid-template-columns: repeat(9,  1fr); }
  .grid.mob-10 { grid-template-columns: repeat(10, 1fr); }
  .grid.mob-11 { grid-template-columns: repeat(11, 1fr); }
  .grid.mob-12 { grid-template-columns: repeat(12, 1fr); }
}
