@font-face {
    font-family: "brandon-regular-webfont";
    src: url('/assets/fonts/brandon/brandon-regular-webfont.eot');
    src: url('/assets/fonts/brandon/brandon-regular-webfont.eot?#iefix') format('eot'),
         url('/assets/fonts/brandon/brandon-regular-webfont.woff') format('woff'),
         url('/assets/fonts/brandon/brandon-regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/brandon/brandon-regular-webfont.svg#socicon') format('svg');
    font-weight: normal;
    font-style: normal;
}