#products {
    .unit {
        position: relative;
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
            &:before, &:after {
                position: absolute;
                content: "";
            }
        }
        &:nth-child(1) {
            &:before {
                @extend .dots-vert;
                bottom: 20px;
            }
            &:after {
                @extend .dots-horz;
                right: 30px;
            }
        }
        &:nth-child(2) {
            &:after {
                @extend .dots-horz;
                left: 20px;
            }
        }
        &:nth-child(3) {
            &:before {
                @extend .dots-vert;
                top: 20px;
            }
        }
        &:nth-child(3),
        &:nth-child(4) {
            h3 {
                padding-top: 20px;
            }
        }
    }
    img {
        position: relative;
        z-index: 1;
    }
    figure {
        position: relative;
        &:after {
            position: absolute;
            z-index: 0;
            content: "";
            background: white;
            box-shadow: white 0px 0px 240px 50px;
            transition: 1000ms;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            top: 70px;
            left: 195px;
        }
        &:hover {
            &:after {
                background: yellow;
                box-shadow: yellow 0px 0px 240px 50px;
            }
        }
    }
}