body, h3, h4, h5, h6, p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 22px;
  line-height: 1.375rem; }
  @media screen and (max-device-width: 480px), screen and (max-width: 480px) {
    body, h3, h4, h5, h6, p {
      font-size: 15px;
      font-size: 0.9375rem;
      line-height: 21px;
      line-height: 1.3125rem; } }

h1, h2 {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 34px;
  line-height: 2.125rem; }
  @media screen and (max-device-width: 480px), screen and (max-width: 480px) {
    h1, h2 {
      font-size: 22px;
      font-size: 1.375rem;
      line-height: 28px;
      line-height: 1.75rem; } }

.typo-white {
  color: #FFFFFF; }

.typo-black {
  color: #232323; }

.typo-green-bright {
  color: #AAE779; }

.typo-center {
  text-align: center; }

.typo-underline {
  position: relative; }
  .typo-underline:before {
    position: absolute;
    content: "";
    top: -10px;
    width: 20px;
    height: 1px;
    background-color: #232323; }

.f_xl {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 34px;
  line-height: 2.125rem; }

.f_l {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 28px;
  line-height: 1.75rem; }

.f_m {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem; }

.f_r {
  font-size: 16px;
  font-size: 1rem;
  line-height: 22px;
  line-height: 1.375rem; }

.f_s {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 21px;
  line-height: 1.3125rem; }

.f_xs {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 20px;
  line-height: 1.25rem; }
