// =====================================
// headings
// =====================================

// @font-face {
//     font-family: "amaticsc-regular";
//     src: url('../../fonts/amatic/amaticsc-regular.eot');
//     src: url('../../fonts/amatic/amaticsc-regular.eot?#iefix') format('eot'),
//          url('../../fonts/amatic/amaticsc-regular.woff') format('woff'),
//          url('../../fonts/amatic/amaticsc-regular.ttf') format('truetype'),
//          url('../../fonts/amatic/amaticsc-regular.svg#socicon') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: "amatic-bold";
    src: url('../../fonts/amatic/amatic-bold.eot');
    src: url('../../fonts/amatic/amatic-bold.eot?#iefix') format('eot'),
         url('../../fonts/amatic/amatic-bold.woff') format('woff'),
         url('../../fonts/amatic/amatic-bold.ttf') format('truetype'),
         url('../../fonts/amatic/amatic-bold.svg#socicon') format('svg');
    font-weight: normal;
    font-style: normal;
}

// =====================================
// body
// =====================================

// @font-face {
//     font-family: "josefinsans-light";
//     src: url('../../fonts/josefinsans/josefinsans-light.eot');
//     src: url('../../fonts/josefinsans/josefinsans-light.eot?#iefix') format('eot'),
//          url('../../fonts/josefinsans/josefinsans-light.woff') format('woff'),
//          url('../../fonts/josefinsans/josefinsans-light.ttf') format('truetype'),
//          url('../../fonts/josefinsans/josefinsans-light.svg#socicon') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: "josefinsans-bold";
    src: url('../../fonts/josefinsans/josefinsans-bold.eot');
    src: url('../../fonts/josefinsans/josefinsans-bold.eot?#iefix') format('eot'),
         url('../../fonts/josefinsans/josefinsans-bold.woff') format('woff'),
         url('../../fonts/josefinsans/josefinsans-bold.ttf') format('truetype'),
         url('../../fonts/josefinsans/josefinsans-bold.svg#socicon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "josefinsans-regular";
    src: url('../../fonts/josefinsans/josefinsans-regular.eot');
    src: url('../../fonts/josefinsans/josefinsans-regular.eot?#iefix') format('eot'),
         url('../../fonts/josefinsans/josefinsans-regular.woff') format('woff'),
         url('../../fonts/josefinsans/josefinsans-regular.ttf') format('truetype'),
         url('../../fonts/josefinsans/josefinsans-regular.svg#socicon') format('svg');
    font-weight: normal;
    font-style: normal;
}

// =====================================
// fonts
// =====================================

@font-face {
    font-family: "fontawesome";
    src: url('../../fonts/fontawesome/fontawesome-webfont.eot');
    src: url('../../fonts/fontawesome/fontawesome-webfont.eot?#iefix') format('eot'),
         url('../../fonts/fontawesome/fontawesome-webfont.woff') format('woff'),
         url('../../fonts/fontawesome/fontawesome-webfont.ttf') format('truetype'),
         url('../../fonts/fontawesome/fontawesome-webfont.svg#socicon') format('svg');
    font-weight: normal;
    font-style: normal;
}