// ========================================
// screen sizes
// ========================================

$desktop : 1200px;
$tablet  : 1024px;
$mini 	 : 768px;
$mobile  : 480px;

// ========================================
// colours
// ========================================

$red        : #CE1429;
$green      : #019D3A;
$yellow     : #F5BB00;
$blue       : #3E92CC;

$black      : #272D2D;
$white      : #FFFFFF;
$grey       : #EFEFEF;
$grey-dark  : #A8AFAF;

$red-dark   : #CE1125;
$blue-dark  : #0C1B8E;
$green-dark : #3A7729;

// ========================================
// sizes
// ========================================

$f_l  : 26px;
$f_m  : 18px;
$f_s  : 14px;