/* RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
button,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html,
body {
  -webkit-tap-highlight-color: transparent;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
:before,
:after {
  box-sizing: border-box;
}
body {
  color: #4b4b4b;
}
button {
  color: inherit;
  background: none;
  outline: none;
}
button,
button:focus,
button::-moz-focus-inner {
  border: none;
  outline: none;
}
input {
  border: none;
  outline: none;
}
input,
input:focus,
input::-moz-focus-inner {
  border: none;
  outline: none;
}
strong,
b {
  font-weight: 700;
}
:focus {
  outline: none;
}
* {
  -webkit-font-smoothing: antialiased;
}
html {
  -webkit-user-select: none;
}

@font-face {
  font-family: 'brandon-regular';
  src: url('brandon-regular.woff');
  font-weight: normal;
  font-style: normal;
}

body {
  -webkit-overflow-scrolling: touch;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border,
.border-t,
.border-r,
.border-b,
.border-l {
  border-style: solid;
}

.disabled {
  user-select: none;
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

.truncate-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.truncate-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.truncate-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.absolute-tl,
.absolute-t,
.absolute-tr {
  position: absolute;
  top: 0;
}

.absolute-bl,
.absolute-b,
.absolute-br {
  position: absolute;
  bottom: 0;
}

.absolute-tl,
.absolute-l,
.absolute-bl {
  position: absolute;
  left: 0;
}

.absolute-tr,
.absolute-r,
.absolute-br {
  position: absolute;
  right: 0;
}

/*
.absolute-t-center,
.absolute-b-center,
.absolute-center,
.absolute-l-center,
.absolute-r-center {
  -webkit-filter: blur(0);
  filter: blur(0);
}
*/

.absolute-t-center {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.absolute-b-center {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.absolute-l-center {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.absolute-r-center {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.pt-full {
  padding-top: 100%;
}
