.typo-lead {
	font-size: 1.1em;
}

.typo-left {
  text-align: left;
}

.typo-right {
  text-align: right;
}

.typo-center {
  text-align: center;
}

.typo-justify {
	text-align: justify;
}

.typo-small {
	font-size: 0.9em;
}

.typo-normal {
	font-weight: normal;
}