// ========================================
// strucutre
// ========================================

html {
    overflow: auto;
}

.container {
    max-width: 1366px;
}

.content {
    min-height: 100vh;
    padding: 0 30px;
    p {
        @include breakpoint(mobile) {
            margin-bottom: 15px;
        }
    }
    @include breakpoint(mobile) {
        padding: 0 15px;
    }
    &.work {
        @include breakpoint(mobile) {
            text-align: center;
        }
    }
}

.work-title {
    padding: 50px 0;
    @include breakpoint(mobile) {
        padding: 15px 0;
    }
}

.main {
    position: relative;
    z-index: 0; // -2;
    padding-left: 20vw;
    @include breakpoint(mobile) {
        padding-left: 0;
    }
}

.aside {
    position: fixed;
    z-index: 1;
    width: 20vw;
    min-height: 100vh;
    border-right: 1px solid $black;
    @include breakpoint(mobile) {
        border-right: none;
        position: relative;
        width: 100vw;
    }
}

.name, .title {
    cursor: auto;
}

iframe {
    width: 100%;
    min-height: 100vh;
    // max-width: 480px;
}

// ========================================
// contact
// ========================================

.contact {
    padding-left: 30px;
    font-size: 5vw;
    @include breakpoint(mobile) {
        padding-left: 0;
    }
    * {
        @include breakpoint(mobile) {
            text-align: center;
        }
    }
}