a {
    &:hover {
        color: $red;
    }
}

p {
    a {
        border-bottom: 1px solid rgba($red, 0.2);
    }
}

h1, h2, h3, h4, h5, h6 {
}

body {
    font-family: "brandon-regular-webfont";
    // color: $black;
}

// ========================================
// fonts style
// ========================================

.typo-uppercase {
    text-transform: uppercase;
}

// ========================================
// alignment
// ========================================

.typo-left {
    text-align: left;
}

.typo-right {
    text-align: right;
}

.typo-center {
    text-align: center;
}

.typo-justify {
    text-align: justify;
}

// ========================================
// colours
// ========================================

.typo-white {
    color: $white;
}

.typo-black {
    color: $black;
}

// ========================================
// font classes
// ========================================

.f_l {
    font-size: 32px;
    line-height: 38px;
    @include breakpoint(tablet-mobile) {
        font-size: 22px;
        line-height: 28px;
    }
}

.f_m {
    font-size: 24px;
    line-height: 30px;
    @include breakpoint(tablet-mobile) {
        font-size: 18px;
        line-height: 24px;
    }
}

.f_r {
    font-size: 18px;
    line-height: 22px;
    @include breakpoint(tablet-mobile) {
        font-size: 14px;
        line-height: 20px;
    }
}

.f_s {
    font-size: 12px;
    line-height: 18px
}

// ========================================
// SIZES
// ========================================

body {
    @extend .f_r;
}

.h1, h1 {
    @extend .f_l;
}

.h2, h2 {
    @extend .f_l;
}

.h3, h3, .h4, h4 {
    @extend .f_l;
}

.h5, h5, .h6, h6 {
    @extend .f_s;
}

.typo-underline {
    text-decoration: underline;
}

// ========================================
// this
// ========================================

.bb {
    border-bottom: 1px solid $black;
}