li {
    position: absolute;
    display: inline-block;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;;
}

li:nth-child(1) {
    top: 0px;
    left: calc(50% + 0px);
}

li:nth-child(2) {
    top: 30px;
    left: calc(50% + 30px);
}

li:nth-child(3) {
    top: 60px;
    left: calc(50% + 60px);
}

li:nth-child(4) {
    top: 90px;
    left: calc(50% + 60px);
}

li:nth-child(5) {
    top: 120px;
    left: calc(50% + 30px);
}

li:nth-child(6) {
    top: 150px;
    left: calc(50% + 0px);
}

li:nth-child(7) {
    top: 120px;
    left: calc(50% - 30px);
}

li:nth-child(8) {
    top: 90px;
    left: calc(50% - 60px);
}

li:nth-child(9) {
    top: 60px;
    left: calc(50% - 60px);
}

li:nth-child(10) {
    top: 30px;
    left: calc(50% - 30px);
}