/* Coolors Exported Palette - coolors.co/ce1429-019d3a-272d2d-f5bb00-3e92cc */

/* HSL */
$color1: hsla(353%, 82%, 44%, 1);
$color2: hsla(142%, 99%, 31%, 1);
$color3: hsla(180%, 7%, 16%, 1);
$color4: hsla(46%, 100%, 48%, 1);
$color5: hsla(205%, 58%, 52%, 1);

/* RGB */
$color1: rgba(206, 20, 41, 1);
$color2: rgba(1, 157, 58, 1);
$color3: rgba(39, 45, 45, 1);
$color4: rgba(245, 187, 0, 1);
$color5: rgba(62, 146, 204, 1);